<h1>All Recipes</h1>

<ul>
  <% @recipes.each do |recipe| %>
    <li>
      <%= link_to recipe.name, user_recipe_path(current_user, recipe) %>
      <%= button_to 'Delete', user_recipe_path(current_user, recipe), method: :delete%>
    </li>
  <% end %>
</ul>

<%= link_to 'Add Recipe', new_user_recipe_path(current_user) %>
